NuGet/
Recoll.org/
citra-emu/
configstore/
cmus/
fish/
gh/
gtk-2.0/
htop/
inkscape/
iterm2/
joplin/
joplin-bak/
joplin-desktop/
karabiner/automatic_backups/
kitty/
lazyvim_bak/
menus/
radian/
raycast/
rstudio/
sqlitestudio/
stetic/
wandb/
wireshark/
xbuild/
xm1/
yarn/
.DS_Store

